body {
    background-image: url(images/bee\ background\ for\ projects\ page.jpg)
}

.yellow {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;

}

.header{
    background-color: palegoldenrod;
}






.main {
    background-color: palegoldenrod;
}